<?xml version="1.0" encoding="UTF-8"?>
<odoo>
  <menuitem
    id="geotagging_root"
    name="Odoo Geotagging"
    web_icon="geotagging_odoo,static/description/icon.png"
    sequence="0"
  />

  <menuitem
    id="haus_geotagging_master"
    name="Geotagging"
    parent="geotagging_root"
    action="action_geotagging_odoo"
    sequence="1"
  />

  <menuitem
    id="haus_maps_master"
    name="Maps"
    parent="geotagging_root"
    action="action_maps_odoo"
    sequence="1"
  />

</odoo>